@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 40px;
}

.container {
    display: grid;
    grid-template-columns: 15vw 85vw; 
}

.left-sidebar {
    background-color: #1992d4;
    color: white;
    height: 100vh;
}

.list-items-bottom {
    margin-top: 64px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 32px;
}

.logo img {
    width: 60px;
    height: auto;
    margin-right: 12px;
}

.icon-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 16px 40px;
}

.icon-text p {
    margin-left: 20px;
    font-size: 28px;
}

.header {
    background-color: white;
    color: black;
    height: 20vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.search {
    grid-area: 1 / 1 / 2 / 2;
}

.search input {
    color: #f2f8ff;
}

.search img {
    width: 32px;
    height: auto;
}


.content {
    background-color: #f2f8ff;
    color: black;
    height: 80vh;
}

