@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 5fr; 
}

.left-sidebar {
    background-color: #1992d4;
    color: white;
    grid-row: 1 / 4;
    height: 100vh;
    display: grid;
}

h1 {
    font-size: 40px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
    height: 10vh;
}

.logo img {
    width: 40px;
    height: auto;
}

.header {
    background-color: white;
    color: black;
    height: 20vh;
}

.content {
    background-color: #e2e8f0;;
    color: black;
    height: 80vh;
}

